{% extends 'main/layout.html' %} 

{% block title %}Главная страница{% endblock title %}

{% block content %}
    <div class="container-fluid">
        <div class="container-sm">
                <form method="post">
                    {% csrf_token %}
                    {{ form.fullName }}
                    {{ form.mail }}
                    {{ form.formOfStudy }}
                    {{ form.group }}
                    {{ form.courseOfStudy }}
                    {{ form.hilary_id }}
                    <span>{{ error }}</span>
                    <button type="submit" class="btn btn-success">Отправить информацию</button>
                </form>
        </div>
    </div>
{% endblock content %}